//- bloque de la cabezera
header.Header
   nav.Navegation
      ul.Navegation__list
         li.Navegation__element inicio
         li.Navegation__element nosotros
         li.Navegation__element contacto
   
   h1.Header__title Gersom Alaja
